body{
  background-color: #fcf4ef;
}

.about_video_banner{
  background-image: url("/assets/about_video_banner.png");
  background-size: 100% 100%;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  margin-bottom: 10px;
}

.about {
  background-image: url("/assets/about_us.png");
  background-size: 100% 100%;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  margin-bottom: 10px;

}

.tapas-gupta{
  background-image: url("/assets/tapas_gupta2.png");
  background-size: 100% 100%;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  margin-bottom: 10px;

}

.abhishek-gupta{
  background-image: url("/assets/abhishek_gupta2.png");
  background-size: 100% 100%;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  margin-bottom: 10px;

}

.shahid-hussain{
  background-image: url("/assets/shahid_hussain2.png");
  background-size: 100% 100%;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  margin-bottom: 10px;

}

.new-member {
  background-image: url("/assets/abhishek_gupta.png");
  background-size: 100% 100%;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  margin-bottom: 10px;
}