.contact-form {
  background-color:#FFEC06;
  border-radius: 8px;
  max-width: 100%;
  font-family: Arial, sans-serif;

  .contactImage{    
    width: auto;
    object-fit: contain;
    margin: 80px 0;
    width: 70%;    

    @media (max-width:800px){
      margin: 55px 0 40px;
      width: 80%;
    }
  }

  .contact-contents{    
    padding: 70px 30px 30px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    a{
      text-decoration: none;
      color: inherit;
    }

    @media (max-width:800px){
      padding: 30px 20px 30px;
    }
  }

  h2 {
    // text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  p {
    // text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
    width: 541px;
    // margin-top: 41px;
  }

  form {
    margin: 60px 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .form-group {
      margin-bottom: 15px;
      display: flex;
      align-items: center;

      label {
        font-size: 1rem;
        font-weight: 600;
        color: #333;        
        width: 50%;
        height: fit-content;
      }

      input {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border: none;
        // border-bottom: 1px solid #ddd;
        border-bottom: 2px dashed black;
        background: transparent;

        border-radius: 4px;
        outline: none;

        &:focus {
          border-color: #007BFF;
        }
      }
    }

    button {
      padding: 12px;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      width: 200px;
      border-radius: 20px;
      margin-top: 45px;
    }

    @media (max-width: 800px){
      margin: 30px 0 ;      
      .form-group{
        margin-bottom: 25px;        
        flex-direction: column;
        align-items: start;
        label{
          width: 100%;
        }
      }
      button{
        margin-top: 20px;
      }
    }
  }
}