* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @import url('https://fonts.cdnfonts.com/css/futura');

* {
  font-family: 'Futura', sans-serif;
}

  
  html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
  }
  @font-face {
    font-family: 'Futura';
    src: url('/public/assets/font/futura/futur.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  // Apply globally to all elements
  * {
    font-family: 'Futura', sans-serif;
  }
  

  //== Variables
//
$color-white: #fff;
$color-white-darker: darken($color-white, 5%);
$color-white-darken: darken($color-white, 15%);
$header-height: 80px;
$nav-toggle-size: 2rem;
$nav-toggle-transition-speed: 0.3s;
$nav-transition-speed: 0.6s;
$nav-width: 9vw;
$zindex-header: 500;
$active-marker-color: #a9a96c; // Active link marker color

//== Reset styles
//
html {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-white-darker;
}

h1 {
  font-size: 2.441rem;
}

.loadingScreen{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(225,225,225, .9);
  // filter: blur(12px);
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;
  padding:  25px;

  img{
    height: 300px;

    max-width: 400px;
    width: 100%;
    z-index: 9999;
    backdrop-filter: blur(12px);
    object-fit: contain;
  }
}
