.logo-swiper-slider{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 15px;

  .logoContent {
    margin: 30px 0;
    text-align: center;
  }

  .swiper-slide{    
    height: 100%;
    img{
      height: 100px;
      width: 100%;
      object-fit: contain;
      filter: grayscale(100%);

      &:hover{
        filter: grayscale(0);
      }
    }
  }
}
