//== Variables
//
$color-white: #ffffff;
$color-white-darker: darken($color-white, 10%);
$color-white-darken: darken($color-white, 15%);
$header-height: 80px;
$nav-toggle-size: 2rem;
$nav-toggle-transition-speed: 0.3s;
$nav-transition-speed: 0.6s;
$nav-width: 11vw;
$zindex-header: 500;
$active-marker-color: #a9a96c; // Active link marker color

//== Reset styles
//
html {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-white-darker;
}

h1 {
  font-size: 2.441rem;
}

a {
  color: #ffffff;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

//== Header
header {
  height: $header-height;
  left: 0;
  padding: 0.5rem;
  position: fixed;
  text-align: right;
  top: 0;
  transition: transform $nav-transition-speed;
  width: 100%;
  z-index: $zindex-header;

  img {
    float: left;
    width: 90px;
  }
}

//== Container
.container {
  margin: 0 auto;
  width: 100%;
}

//== Navigation
.nav-button {
  text-transform: uppercase;
}

.nav-wrapper {

  background-color: transparent;
  height: 100%;
  padding-top: $header-height;
  perspective: 1000px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform $nav-transition-speed, visibility $nav-transition-speed;
  visibility: hidden;
  width: $nav-width;

  .nav-visible & {
    transform: translateX(0);
    visibility: visible;
  }
}

.nav {
  position: relative;
  transform: rotateY(90deg);
  transform-origin: left center;
  transition: transform $nav-transition-speed;
  display: flex;
  flex-direction: column;
  align-items: center; // Ensures items are centered horizontally
  justify-content: center; // Ensures items are centered vertically
  height: 80vh; // Makes sure it spans the full viewport height

  .nav-visible & {
    transform: rotateY(0);
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; // Controls spacing between li elements
    height: 100%; // Takes full height to help with centering
  }

  li {
    list-style-type: none;
    padding: 10px 0; // Adds space around each item
    z-index: 9999;


    &.active {
      a {
        // border-bottom: 2px solid $active-marker-color;
        // border-right: 2px solid $active-marker-color;
        // border-radius: 10px;
        // padding: 10px 15px;
        transition: all 0.3s ease-in-out;
        color: #bbda0a;
      }
    }
  }

  a {
    text-decoration: none;
    display: block;
    line-height: 1.4;
    padding: 0.7em 0.5em 0.7em 1.4em;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 0.5px black;

    &:focus,
    &:hover {
      // color: lighten(#bbda0a, 15%);
      text-decoration: none;
      transform: scale(1.5) translateX(-10px);
      text-shadow: 0px 4px 12px rgba(43, 49, 69, 0.6);
      transition: all 0.3s ease-in-out;
    }
  }
}


//== Active Link Marker
.nav-marker {
  position: absolute;
  right: 0;
  width: 3px;
  height: 2.8rem;
  background-color: $active-marker-color;
  transition: top 0.3s ease-in-out;

  &:before {
    content: "";
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-right-color: inherit;
  }
}

//== Mobile Menu Toggle
@mixin button-lines {
  background: $color-white;
  border-radius: $nav-toggle-size / 10;
  display: inline-block;
  height: $nav-toggle-size / 10;
  width: $nav-toggle-size;
  transition: background 0.3s ease;

}

.button-lines {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: $nav-toggle-size / 2 1.5rem;
  user-select: none;
  
}

.lines {
  @include button-lines;
  position: relative;

  &:after,
  &:before {
    @include button-lines;
    content: "";
    left: 0;
    position: absolute;
  }

  &:after {
    top: $nav-toggle-size / 4;
    border: 0.1px solid black;
  }

  &:before {
    top: -$nav-toggle-size / 4;
    border: 0.1px solid black;
  }
}

.button-lines-x {
  .lines {
    transition: background 0.3s ease;

    &:after,
    &:before {
      transform-origin: 50% 50% 0;
      transition: top 0.3s 0.4s ease, transform 0.3s ease;
    }
  }

  .nav-visible & {
    .lines {
      background: transparent;

      &:after,
      &:before {
        top: 0;
        transition: top 0.3s ease, transform 0.3s 0.3s ease;
      }

      &:after {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &:before {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}


@media (max-width: 768px) {
  header img {
    float: left;
    width: 50px;
}
}