.news {  
  background-size: 90% 100%;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  background: #FFE600;
  position: relative;
  
  a{
    color:black;
  }
  
  @media (max-width:500px){
    height: 80vh;
  }

  .img1{
    position: absolute;
    top: 50px;
    left: 40px;
  }
  .img2{
    position: absolute;
    bottom: 50px;
    right: 40px;
  }

  // .slick-cloned{
  //   display: none !important;
  // }

  .news-slider{
    position: absolute;
    top: 55%;    
    left: 50%;    
    transform: translate(-50%, -50%) rotate(-10deg);    
    max-width: 1200px;
    width: 100%;
    z-index: 5;
    @media (max-width:750px){
      top: 65%;
      left: 55%;
    }
  }
  .brand-slider{
    .slick-slide > div{      
      max-height: 500px;
      min-height: 500px;
      max-width: 500px;
      margin: 0 auto;      
      background-image: url('/assets/thumbnail.png');
      background-size: 100%;
      object-fit: contain;
      background-repeat: no-repeat;
    }
  }

  .slide{    
    max-height: 500px;
    min-height: 500px;
    width: 100%;
    position: relative;

    @media (max-width:500px){
      min-height: 350px;
    }

    .slide-image{
      height: 100%;
      position: absolute;
      top: -12px;      
      scale: .6;
      transform: rotate(-4deg);
      h2{
        text-transform: uppercase;
        margin-bottom: 12px;
        font-size: 2.5rem;
      }
    }

    @media (max-width:500px){
      min-height: 350px;
      .slide-image h2{
        font-size: 1.5rem;
        margin-top: 12px;
      }
    }
    img{
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
}
