.work {
  background-image: url("/assets/home_bg2.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;

  .brands {
      position: absolute;
      top: 0;
      right: 10vw;
      height: 100%; /* Make it take full height */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; /* Distribute items evenly */
      align-items: center; /* Center items horizontally */
      list-style: none; /* Remove default list styles */
      padding: 0;
      margin: 0;
      padding-top: 30px;
  }

  .brands li {
      padding: 10px;
      font-size: 25px;
  }
}
